<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/nwh6gez.css">
  </head>
  <body>
   <div class="header home-view">
      <div class="links-container">
        <a href="/home"><img src="../../assets/images/logo.svg"/></a>
        <button class="menu"><img src="../../assets/images/menu.svg"/></button>
      </div> 
    </div>
    <nav>
      <button class="close"><img src="../../assets/images/close.svg"></button>
      <div class="links-container">
        <a class="border" href="/home">Home</a>
        <a href="/kurate">Kurate</a>
        <a href="/medifriend-portal">MedifriendRx Portal</a>
        <a class="border" href="/medifriend-pws">MedifriendRx PWS</a>
        <a href="/resume">Resume</a>
        <a href="mailto:dregoozdesign@gmail.com">Contact Me</a>
      </div>
    </nav>
    <section class="resume content-begin">
      <div class="main-padding">
        <div class="main-content">
          <div class="flex-container">
            <h3 class="full-name">
              Andrea Nuñez
            </h3>
            <div class="underline andrea-title"></div>
            <div class="underline blue andrea-title"></div>
            <div class="underline pink"></div>
            <div class="tools-skills">
              <div class="toolkit">
                <h4>Toolkit</h4>
                <div class="underline blue"></div>
                <div class=tools>
                  <p>Sketch</p>
                  <p>Figma</p>
                  <p>Invision</p>
                  <p>Adobe Illustrator</p>
                  <p>Adobe Photoshop</p>
                </div>
              </div>
              <div class="skillset">
                <h4>Skillset</h4>
                <div class="underline pink"></div>
                <div class=skills>
                  <p>Interface Design</p>
                  <p>Visual Design</p>
                  <p>User Experience</p>
                  <p>HTML & CSS</p>
                  <p>Spanish Fluency</p>
                </div>
              </div>
            </div>
            <div class="background">
              <div class="title-container">
                <h4>Background</h4>
                <div class="underline background-title"></div>
              </div>
              <div class="resume-bullets">
                <ul class="bullet">
                  <li>UI/UX Designer - Freelance</li>
                  <p class="timeframe">May 2017 - Present</p>
                  <p class="description">Practicing user-centered design to create clean, logical and intuitive interfaces for mobile and web</p>
                </ul>
                <ul class="bullet">
                  <li>User Relations Coordinator - BTCjam</li>
                  <p class="timeframe">2015 - 2016</p>
                  <p class="description">Fintech startup in SF. Addressed user pain points around our web-based p2p lending service and worked with the product and development teams to find solutions</p>
                </ul>
                <ul class="bullet">
                  <li>Administrative Specialist - BAPM</li>
                  <p class="timeframe">2014 - 2015</p>
                  <p class="description">Various administrative tasks</p>
                </ul>
                <ul class="bullet">
                  <li>Media Relations Specialist - ACI Specialty Benefits</li>
                  <p class="timeframe">2011 - 2013</p>
                  <p class="description">Press releases, articles, email newsletters, some advertising copy. Reviewed copy from other departments to ensure grammatical accuracy and appropriate tone of voice</p>
                </ul>
                <ul class="bullet">
                  <li>Student - Sonoma State University</li>
                  <p class="timeframe">Class of 2011</p>
                  <p class="description">Bachelor’s degree in English with an emphasis on Creative Writing</p>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </section>






    <script src="./index.js"></script>

  </body>
</html>