@import '../../generic.scss';

/*colors*/

$red: #EA352C;
$white: #FFFFFF;
$black: #000000;


/* breakpoints */

$max-tablet: 1118px;
$max-tablet-small: 930px;
$max-mobile: 590px;


/* hero */

.hero {
  color: $white;
  padding-top: 108px;
  background-image: linear-gradient(0deg, #EA352C 14%, #F86E4A 100%, #F8814A 100%);
  position: relative;

  h1 {
    margin-bottom: 24px;

    @media screen and (max-width: $max-mobile) {
      margin-bottom: 12px;
    }
  }

  .image-container {
    margin-top: 48px;
    text-align: center;

    @media screen and (max-width: $max-mobile) {
      margin-top: 38px;
    }

    .hero-image {
      width: 80%;
      max-width: 1116px;

      @media screen and (max-width: $max-tablet) {
        width: 100%;
      }

      @media screen and (max-width: $max-mobile) {
        display: none;
      }
    } 

    .hero-image-mobile {
      width: 100%;
      @media screen and (min-width: $max-mobile) {
        display: none;
      }
    }
  }
}


/* about */

.about {
  padding: 156px 0;

 @media screen and (max-width: $max-tablet) {
    padding: 108px 0 116px 0;
  }

  @media screen and (max-width: $max-tablet-small) {
    padding: 72px 0 96px 0;
  }

  @media screen and (max-width: $max-mobile) {
    padding: 44px 0 72px 0;
  }

  .main-padding { 

    .flex-container {
      display: flex; 
      flex-direction: row;

       @media screen and (max-width: $max-tablet-small) {
        flex-direction: column;
      }

      .about-summary {
        flex: 1 1 0;
        margin-right: 16%;

        @media screen and (max-width: $max-tablet-small) {
          margin-right: 0;
        }

        h2 {
          margin-bottom: 32px;

          @media screen and (max-width: $max-mobile) {
            margin-bottom: 16px;
          }
        }
      }

      .about-details {
        flex: 1 1 0;

        .flex-container {
          display: flex;
          flex-direction: column;

          @media screen and (max-width: $max-tablet-small) {
            flex-direction: row;
            margin-top: 56px;
          }

          @media screen and (max-width: $max-mobile) {
            flex-direction: column;
            margin-top: 44px;
          }

          .title {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            
            img {
              height: 24px;
                
              @media screen and (max-width: $max-tablet-small) {
                height: 22px;
              }
            }

            h4 {
              line-height: 32px;
              margin-left: 20px;
              display: inline;

              @media screen and (max-width: $max-tablet-small) {
                line-height: 22px;
                margin-left: 16px;
              }
            }
          }

          .uiux {
            margin-bottom: 56px;

            @media screen and (max-width: $max-tablet-small) {
              flex: 1 1 0;
              margin-right: 6%;
              margin-bottom: 0;
            }

            @media screen and (max-width: $max-mobile) {
              margin-bottom: 44px;
            }
          }

          .tools {
            @media screen and (max-width: $max-tablet-small) {
              flex: 1 1 0;
            }
          }  
        }
      }
    } 
  }  
}


/* section 1 */

.sec-1 {
  padding: 156px 0;

  @media screen and (max-width: $max-tablet) {
    padding: 116px 0 108px 0;
  }

  @media screen and (max-width: $max-tablet-small) {
    padding: 96px 0 72px 0;
  }

  @media screen and (max-width: $max-mobile) {
    padding: 72px 0 56px 0;
  }

  .flex-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $max-tablet-small) {
      flex-direction: column;
    }

    .description {
      margin-right: 16%;  
      flex: 1 1 0;

      @media screen and (max-width: $max-tablet-small) {
        margin-right: 0;
      }
    }

    .image { 
      flex: 1 1 0;

      @media screen and (max-width: $max-tablet) {
        margin-top: 96px;
        text-align: center;
      }

      @media screen and (max-width: $max-tablet-small) {
        margin-top: 72px;
      }

      @media screen and (max-width: $max-mobile) {
        margin-top: 56px;
      }

      img {
        width: 90%;

        @media screen and (max-width: $max-tablet-small) {
          width: 55%;
        }

        @media screen and (max-width: $max-mobile) {
          width: 70%;
        }
      }
    }
  }   
}


/* section 2 */

.sec-2 {
  background-color: $white;
  padding: 216px 0;

  @media screen and (max-width: $max-tablet) {
    padding: 128px 0;
  }

  @media screen and (max-width: $max-tablet-small) {
    padding: 92px 0; 
  }

  @media screen and (max-width: $max-mobile) {
    padding: 56px 0;
  }

  .flex-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $max-tablet-small) {
      flex-direction: column-reverse;
    }

    .image {
    flex: 1 1 0;
    margin-right: 16%;

      @media screen and (max-width: $max-tablet-small) {
        margin-top: 72px;
        margin-right: 0;
        text-align: center;

         @media screen and (max-width: $max-mobile) {
          margin-top: 56px;
        }
      }

      img {
        width: 85%;

        @media screen and (max-width: $max-tablet-small) {
          width: 60%;
        }
      }
    }

    .description {
      flex: 1 1 0;
    }
  }
}


/* section 3 */

.sec-3 {
  padding: 156px 0;

  @media screen and (max-width: $max-tablet) {
    padding: 108px 0;
  }

  @media screen and (max-width: $max-tablet-small) {
    padding: 72px 0;
  }

  @media screen and (max-width: $max-mobile) {
    padding: 56px 0;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
      max-width: 534px;
      margin-bottom: 96px;

      @media screen and (max-width: $max-tablet) {
        margin-bottom: 56px;
      }
    }

    .image {
      text-align: center;

      img {
        width: 100%; 
      }
    } 
  }  
}


/* section 4 */

.sec-4 {
  background-color: $white;
  padding: 156px 0;

  @media screen and (max-width: $max-tablet) {
    padding: 108px 0;
  }

  @media screen and (max-width: $max-tablet-small) {
    padding-top: 72px;
    padding-bottom: 708px;
  }

  @media screen and (max-width: $max-mobile) {
    padding-top: 56px;
    padding-bottom: 608px;
  }

  .flex-container {
    display: flex;
    align-items: center;

     @media screen and (max-width: $max-tablet-small) {
      flex-direction: column;
    }

    .description {
        flex: 1 1 0;
        margin-right: 16%;

        @media screen and (max-width: $max-tablet-small) {
          flex-direction: column-reverse;
          margin-right: 0;
        }
      } 

    .prototype {
      flex: 1 1 0;

      .container {
        position: relative;

        @media screen and (max-width: $max-tablet-small) {
          right: 144;
          top: 340;

          @media screen and (max-width: $max-mobile) {
            top: 332;
          }
        }

        img {
          width: 275px;
          z-index: 2;
          position: absolute;
          left: 0;
          top: -270;
          bottom: 0;

          @media screen and (max-width: $max-mobile) {
            width: 240px;
            left: 23;
          }
        }

        video {
          position: absolute;
          width: 243px;
          height: auto;
          left: 15;
          top: -254;

          @media screen and (max-width: $max-mobile) {
            width: 212px;
            left: 37;
            top: -255;
          }
        }
      }
    }
  }
}


/* section 5 */

.sec-5 {
  padding: 156px 0;

  @media screen and (max-width: $max-tablet) {
    padding: 108px 0;
  }

  @media screen and (max-width: $max-tablet-small) {
    padding: 72px 0;
  }

  @media screen and (max-width: $max-mobile) {
    padding: 56px 0;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
      max-width: 534px; 
      margin-bottom: 132px;

      @media screen and (max-width: $max-tablet) {
        margin-bottom: 96px;
      }

      @media screen and (max-width: $max-tablet-small) {
        margin-bottom: 72px;
      }

      @media screen and (max-width: $max-mobile) {
        margin-bottom: 56px;
      }
    }

    .logos {
      width: 80%;
      text-align: center;
      margin-bottom: 96px;

      @media screen and (max-width: $max-tablet) {
        margin-bottom: 64px;
      }

      @media screen and (max-width: $max-mobile) {
        width: 100%;
        margin-bottom: 24px;
      }
    }

    img {
      width: 100%;
    }
  }
}


/* polished ui */

.polished-ui {
  margin-top: 24px;

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 88px;

      @media screen and (max-width: $max-tablet) {
        margin-bottom: 64px;
      }

      @media screen and (max-width: $max-mobile) {
        margin-bottom: 24px;
      }
    }

    .flex-images {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .image {
        flex: 1 1 30%;

        img {
          width: 100%;
        }
      }
    }
  }
}


/* responsive landing page */

.landing-page {
  margin-top: 180px;

  @media screen and (max-width: $max-tablet) {
    margin-top: 132px;
  }

   @media screen and (max-width: $max-tablet-small) {
    margin-top: 96px;
  }

  @media screen and (max-width: $max-mobile) {
    margin-top: 68px;
  }

  img { 
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    br {

      @media screen and (min-width: $max-mobile) {
        display: none
      }
    }

    .desktop-title {
      margin-top: 132px;
      margin-bottom: 40px;

      @media screen and (max-width: $max-tablet-small) {
        margin-top: 84px;
        margin-bottom: 18px;
      }

      @media screen and (max-width: $max-mobile) {
        margin-top: 44px;
        margin-bottom: 12px;
      }
    }
  } 

  .tablet-mobile {
    margin-top: 180px;

    @media screen and (max-width: $max-tablet) {
      margin-top: 132px;
    }

    @media screen and (max-width: $max-tablet-small) {
      margin-top: 96px;
    }

    @media screen and (max-width: $max-mobile) {
      margin-top: 68px;
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      h4 {
        margin-bottom: 40px;

        @media screen and (max-width: $max-tablet-small) {
          margin-bottom: 18px;
        }

        @media screen and (max-width: $max-tablet-small) {
          margin-bottom: 12px;
        }
      }

      .tablet {
        text-align: center;
        margin-right: 10%;
      }

      .mobile {
        text-align: center;
      }
    }
  }
}




