<html>
  <head>
    <title>Andrea Nunez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/nwh6gez.css">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="../assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="header home-view">
      <div class="links-container">
        <a href="/home"><img src="../assets/images/logo.svg"/></a>
        <button class="menu"><img src="../assets/images/menu.svg" /></button>
      </div>
    </div>
    <nav>
      <button class="close"><img src="../assets/images/close.svg" /></button>
      <div class="links-container">
        <a class="hover" href="/home">Home</a>
        <hr>
        <a class="hover" href="/kurate">Kurate</a>
        <a class="hover" href="/medifriend-portal">MedifriendRx Portal</a>
        <a class="hover" href="/medifriend-pws">MedifriendRx PWS</a>
        <hr>
        <a class="hover" href="/resume">Resume</a>
        <a class="hover" href="mailto:dregoozdesign@gmail.com">Contact Me</a>
      </div>
    </nav>
    <section class="about-me content-begin">
      <div class="main-padding">
        <div class="main-content">
            <div class="yellow-rectangle">
              <div class="blue-rectangle">
                <div class="pink-rectangle">
                  <div class="copy-content">
                    <h3>an&middot;dre&middot;a</h3>
                    <img class="phonetic" src="../assets/images/phonetic.svg">
                    <p style="font-style:italic">noun</p>
                    <ol>
                      <li class="default-description"><span style="font-weight:700">a UI/UX designer based in San Francisco.</span> Likes to make easy-to-use digital products that are satisfying to look at. Fond of logical solutions and pixel-perfection.</li> 
                      <li class="informal"><span style="font-style:italic; color:#949494">informal</span><br>a creature of comfort. Insatiably curious. Neat-freak extraordinaire.</li>
                    </ol>
                    <p class="mobile-description"><span style="font-weight:700">a UI/UX designer based in San Francisco.</span> Likes to make easy-to-use digital products that are satisfying to look at. Fond of logical solutions and pixel-perfection.</p> 
                    <div class="social-links">
                      <a href="mailto:dregoozdesign@gmail.com"><img class="mail" src="./assets/mail.svg">
                      </a>
                      <a href="https://www.instagram.com/drenuz/" target="_blank"><img src="./assets/instagram.svg"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>   
    <section class="project-links">
      <div class="main-padding">
        <div class="main-content">
          <div class="flex-container">
            <a class="project-container hover" href="/kurate/index.html">
              <div class="project-title">
                Kurate
              </div>
              <p class="center-text">
                Mobile App
              </p>
            </a>
            <a class="project-container hover blue" href="/medifriend-portal">
              <div class="project-title">
                MedifriendRx Portal
              </div>
              <p class="center-text">
                Enterprise Web App
              </p>
            </a>
            <a class="project-container hover pink" style="margin-right:0" href="/medifriend-pws">
              <div class="project-title">
                MedifriendRx PWS
              </div>
              <p class="center-text">
                Kiosk Touchscreen App
              </p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="copyright">
      &copy Andrea Nunez 2018
    </div>
  


    <script src="./index.js"></script>

  </body>
</html>