@import '../../generic.scss';

/*colors*/

$yellow: #FEC324;
$blue: #4CD5ED;
$pink: #FF609B;
$black: #000000;


/* breakpoints */

$max-tablet: 1118px;
$max-tablet-small: 930px;
$max-mobile: 590px;


/* header - home-only styling */

.header {
 
  &.home-view {
    display: block;

    @media screen and (max-width: $max-tablet) {
      padding: 10px 56px;
    }

    @media screen and (max-width: $max-mobile) {
      padding: 10 16px;
    }
  }
}


/* about me */

.about-me {
  margin-top: 124px;

  @media screen and (max-width: $max-tablet-small) {
    margin-top: 120px;
  }

   @media screen and (max-width: $max-mobile) {
    margin-top: 82px;
  }

  .main-padding {

    @media screen and (max-width: $max-tablet) {
      padding: 0 56px;
    }

    @media screen and (max-width: $max-mobile) {
      padding: 0 16px;
    }

    .yellow-rectangle {
      width: 100%;
      padding: 8px;
      border: 4px solid $yellow;
      border-radius: 4px;

      @media screen and (max-width: $max-mobile) {
        padding: 6px;
      }

      .blue-rectangle {
        padding: 8px;
        border: 4px solid $blue;
        border-radius: 4px;

        @media screen and (max-width: $max-mobile) {
          padding: 6px;
        }

        .pink-rectangle {
          padding: 48px 56px;
          border: 4px solid $pink;
          border-radius: 4px;

          @media screen and (max-width: $max-mobile) {
            padding: 16px 20px;
          }

          .copy-content {

            h3 {
              text-align: left;
            }

            .phonetic {
              margin-top: 18px;
              margin-bottom: 40px;
            }

            .informal {

              @media screen and (max-width: $max-mobile) {
                display: none;
              }
            }

            .social-links {
              display: flex;
              justify-content: flex-end;

              .mail {
                margin-right: 24px;
                padding: 3px 0;
              }

              .github {
                margin-right: 24px;
              }

              @media screen and (max-width: $max-mobile) {
                margin-top: 16px;
              }
            }

            h1 {
              font-size: 48px;
              line-height: 48px;
              font-weight: 700;
              margin: 0;
            }

            p {
              font-size: 18px;
              line-height: 18px;
              font-weight: 400;
              margin-bottom: 16px;

              &.mobile-description {
                display: none;

                @media screen and (max-width: $max-mobile) {
                  display: block;
                  line-height: 26px;
                  margin-bottom: 0;
                }
              }
            }

            li {
              font-size: 18px;
              line-height: 26px;
              font-weight: 400;
              padding-left:12px;
              margin-bottom: 24px;

              &.default-description {

                @media screen and (max-width: $max-mobile) {
                  display: none;
                }
              }
            }

            ol {
              padding-left: 16px;
            }
          }
        }
      }
    }
  }
}


/* project links */

.project-links {

  .main-padding {

    @media screen and (max-width: $max-tablet) {
      padding: 0 56px;
    }

    @media screen and (max-width: $max-mobile) {
      padding: 0 16px;
    }
  

    .flex-container {
      display: flex;

     @media screen and (max-width: $max-tablet-small) {
        flex-direction: column;
      }

      .project-container {
        border: 2px solid $black;
        padding: 44px 0;
        border-radius: 4px;
        margin-top: 28px;
        margin-right: 24px;
        width: 100%;
        flex: 1 0 0;

        @media screen and (max-width: $max-mobile) {
          margin-top: 20px;
          margin-right: 20px;
          padding: 24px 0;
        }

        .project-title {
          font-size: 24px;
          line-height: 32px;
          font-weight: 700;
          margin-bottom: 8px;
          text-align: center;
        }
      }

      .hover:hover {
        border-color: $yellow;

        &.blue {
          border-color: $blue;
        }

        &.pink {
          border-color: $pink;
        }
      } 
    }
  }  
}



/* copyright */

.copyright {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-top: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 164px;
}