<html>
  <head>
    <title>Andrea Nunez: Medifriend PWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/nwh6gez.css">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="../assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="header">
      <div class="links-container">
        <a href="/home"><img src="../assets/images/logo.svg"/></a>
        <button class="menu"><img src="../assets/images/menu.svg"/></button>
      </div>
    </div>
    <nav>
      <button class="close"><img src="../assets/images/close.svg"></button>
      <div class="links-container">
        <a class="hover" href="/home">Home</a>
        <hr>
        <a class="hover" href="/kurate">Kurate</a>
        <a class="hover" href="/medifriend-portal">MedifriendRx Portal</a>
        <a class="hover" href="/medifriend-pws">MedifriendRx PWS</a>
        <hr>
        <a class="hover" href="/resume">Resume</a>
        <a class="hover" href="mailto:dregoozdesign@gmail.com">Contact Me</a>
      </div>
    </nav>
    <section class="hero">
      <div class="static-header">
        <div class="links-container">
          <a href="/home"><img src="../assets/images/logo.svg"/></a>
          <button class="menu"><img src="../assets/images/menu.svg"/></button>
        </div>
      </div>
      <div class="main-padding">
        <div class="main-content">
          <h1>MedifriendRx PWS</h1>
          <p class="center-text">Kiosk Touchscreen App</p>
          <div class="image-container">
            <img class="hero-image" src="./assets/mfhero.png">
          </div>
        </div>
      </div>
    </section>
    <section class="about content-begin">
      <div class="main-padding">
          <div class="main-content">
            <div class="flex-container">
              <div class="about-summary">
                <h2>About</h2>
                <p>MedifriendRx is owned by a company which builds and maintains pharmacies in medical clinics. Some clinics are too small to house a pharmacy, so this company developed a machine (PWS) that dispenses prescriptions to patients. Medical Assistants must use this built-in touchscreen app on the PWS to help patients retrieve prescriptions from the machine.</p>
              </div>
              <div class="about-details">
                <div class="flex-container">
                  <div class="uiux">
                    <div class="title">
                      <img src="./assets/layout.svg">
                      <h4>UI/UX</h4>
                    </div>
                    <p>Interface design, user experience</p>
                  </div>
                  <div class="tools">
                    <div class="title">
                      <img src="./assets/tools.svg">
                      <h4>Tools</h4>
                    </div>
                    <p>Figma, Adobe Illustrator</p> 
                  </div>
                </div>
              </div>
          </div>
        </div>
    </section>
    <section class="decorative-hr">
      <div class="main-padding">
        <div class="main-content">
          <div class="flex-container">
            <div class="hr margin green"></div>
            <div class="hr margin green"></div>
            <div class="hr margin green"></div>
            <div class="hr green"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-1">
      <div class="main-padding">
        <div class="main-content">
          <div class="flex-container">
            <div class="description">
              <h4 class="bottom-margin">Client Breifing, Brainstorming <br>& Sketching</h4>
              <ul>
                <li class="bottom-margin">Brainstormed and sketched out interface ideas with client; client stated a need to have all three 'phases' of each prescription's review process displayed simultaneously on the main view</li>
                <li class="bottom-margin">Eventually decided on a rough layout of 3 vertical columns for the main view, each representing one phase in the review process</li>
                <li>Discussed requirements for remaining dispense-process and inventory-management views</li>
              </ul>
            </div>
            <div class="image">
              <img src="./assets/clientbrainstorm.svg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-2">
      <div class="main-padding">
        <div class="main-content">
          <div class="flex-container">
            <div class="description">
              <h4 class="bottom-margin">High-fidelity Mockups <br>& Visual Design</h4>
              <ul>
                <li class="bottom-margin">Per client's request, jumped straight into mid-high fidelity mockups for all views; client would review them, iterations would be made if necessary</li>
                <li>Used the same color scheme and visual elements utilized on the MedifriendRx Web Portal for the final, polished design to ensure brand consistency</li>
              </ul>
            </div>
            <img src="./assets/uiguide.png">
          </div>
        </div>
      </div>
      <div class="uimocks">
        <div class="main-padding">
          <div class="main-content">
            <div class="flex-container">
              <img src="./assets/1.png">
              <img src="./assets/2.png">
              <img src="./assets/3.png">
              <img src="./assets/4.png">
              <img src="./assets/5.png">
              <img src="./assets/6.png">
              <img src="./assets/7.png">
              <img src="./assets/8.png">
              <img src="./assets/9.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="back-top">
      <a href="#"><img src="./assets/rocket.svg"></a>
    </div>
   


    <script src="./index.js"></script>
  </body>
</html>








         










